header {
  height: 100vh;
  padding-top: 3rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.about__container {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  margin-top: 5% !important;
}

.about__me {
  width: 100%;
  border-radius: 2rem;
}
.about__me-image {
  overflow: hidden;
  background: transparent;
  width: 26rem;
  padding: 0 2rem 2rem 2rem;
}

.about__content-text p {
  margin-bottom: 2rem;
  color: var(--color-light);
}

/*------------------CTA (Call To Action)------------------------*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
}
.btn-icon {
  display: flex !important;
  gap: 1vw;
}
.btn-icon > svg {
  align-self: center;
}

/*------------------Scroll Down------------------------*/
.scroll__down {
  position: absolute;
  right: 0.3rem;
  bottom: 3rem;
  font-weight: 300;
  font-size: 1.5rem;
  background: transparent;
  color: var(--color-primary);
}



/* -------------------MEDIA QUERIES-----------------------*/

/* MEDIUM DEVICE*/

@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }

  .about__container {
    flex-direction: column;
  }
  .about__me {
    width: 65%;
    margin: 2rem auto 1rem;
  }
  .about__me-image {
    width: var(--container-width-lg);
    margin: 0 auto;
  }
  .about__content-text p {
    margin:  1rem 0 1.5rem;
  }
}

/* SMALL DEVICE*/
@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }
  .scroll__down, .header__socials {
    display: none;
  }
  .cta__btn-text {
    display: none;
  }
  header {
    height: 108vh;
  }

  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__me-image {
    width: var(--container-width-lg);
    margin: 0 auto;
  }

  .about__content {
    text-align: center;
  }
  .about__content-text p {
    margin: 1.5rem 0;
  }
  .about__me-image {
    width: 65%;
  }
}
